html{
  font-size: 16px;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

body{
  background-color: $content-bg-color;
  font-style: normal;
  overflow-x: hidden !important;
  overflow-y: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before,
*::after{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
  outline: none;
}

ul,
li{
  list-style: none;
}

p{
  margin: 0;
}

.input-focus:focus{
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.form-select{
  background-image: none;
}

// radio BTN start

.radio-group{
  display: flex;
}

label{
  margin-bottom: 25px;
  display: block;
}

.radio{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
}

.radio-style{
  position: relative;
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.radio:checked + .radio-style::before{
  content: "";
  width: 10px;
  height: 10px;
  background-color: $yellow-btn-color;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
// radio BTN end