// color
$yellow-bg-color: #ffdd9c;
$yellow-btn-color: #FFDD9C;
$yellow-dark-color: #fdc689;
$content-bg-color: #fafafa;
$price-bg-color: rgb(0, 166, 81);
$grey-font-color: #969696;
$old-price-color: #9e0b0f;
$discount-price-color: #d26400;
$light-blue-color: #00bff3;
$light-green-color: #46ba56;

// fonts
$roboto: "Roboto";
$narrow: 'Arial Narrow';
$arial: 'Arial';